/* globals */
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: opacity 1s ease-in-out;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #577399;
    color: #FFF;
    text-align: center;

}

.hidden {
    display: none !important;
}

.fadein {
    opacity: 1 !important;
}
.fadeout {
    opacity: 0 !important;
}

/* intro story */
.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
}

.footer {
    height: 8vh;
    background-color: #475F80;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 24px;
}

.footer a {
    text-decoration: none;
    color: #4CC9F0;
}

.intro {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro p {
    font-size: 48px;
    font-weight: bold;
    opacity: 0;
}

/* Choice Panel */
.choice_panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-self: center;
}

.choice_panel h2 {
    font-size: 48px;
}

.choice_panel__choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
    width: 60vw;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    width: 10vw;
    background-color: #475F80;
    border: 3px solid #4CC9F0;
    border-radius: 16px;
    font-size: 90px;
    cursor: pointer;
}

/* result */
.result {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.result .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
}
.row__choice .choice {
    cursor: default;
}
.result-msg {
    font-size: 32px;
    font-weight: bold;
}
.result-msg--win {
    color: #72F935;
}
.result-msg--tie {
    color: #51EAFF;
}
.result-msg--lose {
    color: #FFBA08;
}
.scores {
    font-size: 32px;
    font-weight: bold;
}

.scores span {
    color: #4CC9F0;
}

/* ending */
.ending {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.ending h2 {
    font-size: 52px;
}

.ending .btn {
    background-color: #4CC9F0;
    border: 1px solid #FFF;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;
}