/* globals */
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: opacity 1s ease-in-out;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #577399;
    color: #FFF;
    text-align: center;

}

.hidden {
    display: none;
}

.fadein {
    opacity: 1 !important;
}
.fadeout {
    opacity: 0 !important;
}

/* intro story */
.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
}

.footer {
    height: 8vh;
    background-color: #475F80;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 24px;
}

.footer a {
    text-decoration: none;
    color: #4CC9F0;
}

.intro {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro p {
    font-size: 48px;
    font-weight: bold;
    opacity: 0;
}